.head__nav {
    width: 50%;
}

.nav__list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

/* .list__item {

} */

.list__link {
    text-decoration: none;
    color: black
}

.list__link:hover {
    text-decoration: none;
    color: var(--color5);
}